%b Hallo #{@user.student.first_name},
%div &nbsp;
%div dein Zugang für #{link_to 'abibook2012.de', root_url} wurde soeben freigeschaltet!
%div Du kannst dich ab sofort mit deinen gewählten Zugangsdaten einloggen und deine beiträge einreichen.
%div &nbsp;
%b Dein Abizeitungs-Komitee