Hallo #{@user.student.first_name},

dein Zugang für abibook2012.de wurde soeben freigeschaltet!
Du kannst dich ab sofort mit deinen gewählten Zugangsdaten einloggen und deine Beiträge einreichen.

Dein Abizeitungs-Komitee