<p>Hallo <%= @resource.email %>!</p>

<p>Jemand hat einen Link angefordert, um dein Passwort zurückzusetzen. Du kannst es über den folgenden Link ändern:</p>

<p><%= link_to 'Passwort ändern', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Wenn du diesen Link nicht angefordert hast, ignoriere diese Mail einfach.</p>
<p>Dein Passwort wird sich nicht ändern, wenn du den Link nicht benutzt.</p>
